.centered{margin: 0 auto;}

@font-face{
	font-family: Lucida Handwriting;
	src: url('Lucida Handwriting Italic.ttf');
	font-style: normal;
}

h1
{
	margin-inline: 0;
	margin-block: 0;
	margin: 2% 0 1% 0;
	font-size: 36pt;
	font-family: Lucida Handwriting;
	color: #59f;
	text-align: center;
}

#welcome{margin: 15% 0;}
#gradient{
	height: 150px;
	width: 75%;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	background-image: linear-gradient(135deg, rgba(125, 0, 255, 0.7), rgba(0, 175, 255, 0.6));
}
input{
	width: 80%;
	border: 0;
	padding: 0;
	text-align: center-left;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 3% 2%;
	border-radius: 5px;
	outline: none;
	color: #007;
}input:focus{
	background-color: white;
	transition: 0.3s ease;
}input::placeholder{
	color: #557;
	transition: 0.5s ease;
}input:focus::placeholder{color: transparent;}

#start{
	background-color: white;
	color: #09f;
	font-size: 12pt;
	border-radius: 10px;
	width: 50%;
	padding: 7px;
	border: 0;
	outline: none;
}

h3{
	margin: 5% 0;
	font-size: 16pt;
}

#main{
	display: flex;
	flex-direction: column;
}

div div{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #003;
	font-size: 14pt;
}

h4{
	text-align: center;
	padding: 5%;
	width: 85%;
	border: 1px dashed #777;
	margin-inline: 0;
	margin-block: 0;
	margin-top: 3%;
}

hr{
	border: 0;
	background-image: linear-gradient(90deg, rgba(125, 0, 255, 0.7), rgba(0, 175, 255, 0.6));
	height: 10px;
	margin-left: 0;
	margin-top: 7.5%;
	transition: 0.7s;
}

.card{
	box-shadow: 3px 3px 7px rgba(0, 125, 255, 0.5);
	border-radius: 5px;
	background-image: linear-gradient(135deg, rgba(100, 0, 225, 0.7), rgba(0, 125, 225, 0.6));
	color: white;
	font-size: 60pt;
	width: 30%;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}

.btn{
	margin-top: 5%;
	width: 30%;
	border: 0;
	border-radius: 7px;
	padding: 3%;
	font-size: 16pt;
	outline: none;
}
.btn_light{
	background-color: rgba(100, 0, 225, 0.6);
	color: rgb(55, 0, 125);
}
.btn_dark{
	background-color: rgba(0, 125, 225, 0.6);
	color: rgb(0, 55, 125);
}

@media(min-width:500px)
{
	#welcome{margin: 5% 0;}
	#gradient{
		height: 150px;
		width: 50%;
	}
	#start{width: 35%;}
	#main{
		margin-top: 1%;
		height: auto;
	}
	div div{
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		color: #003;
		font-size: 14pt;
	}
	h1{
		font-size: 36pt;
		margin-top: 2%;
	}
	h3{
		font-size: 14pt;
		margin: 2% 0 1% 0;
	}
	h4{
		margin-top: 1%;
		margin-bottom: 0;
		width: 39%;
		padding: 5%;
		border: 1px dashed #777;
	}
	
	.card{
		width: 25%;
		height: 125px;
		line-height: 125px;
		font-size: 72pt;
	}
	.btn{width: 25%;}
	
	hr{
		margin-top: 2.5%;
	}
}

@media(min-width: 800px)
{
	#welcome{margin-bottom: 5%;}
	#gradient{
		height: 275px;
		width: 36%;
	}
	input{font-size: 14pt;}
	#start{
		width: 40%;
		height: 60px;
	}
	#start{
		font-size: 16pt;
		border-radius: 5px;
		height: 60px;
		background-color: rgba(255, 255, 255, 0.9);
	}#start:hover{
		background-color: white;
		box-shadow: 0 0 5px white;
	}
	h1{
		font-size: 48pt;
		margin-top: 2%;
	}
	h3{
		font-size: 18pt;
		margin: 2% 0 1% 0;
	}
	h4{
		font-size: 16pt;
		transition: 0.3s;
	}h4:hover{
		border: 1px dashed rgb(125, 0, 255);
		background-color: rgba(55, 100, 255, 0.25);
		transform: scale(0.99);
		transition: 0.5s;
	}
	
	.card{
		width: 16%;
		height: 175px;
		line-height: 175px;
		transition: 0.5s;
	}
	.card:hover{
		box-shadow: -3px -3px 7px rgba(125, 0, 255, 0.5);
		transition: 0.75s;
	}
	
	.btn{
		font-size: 18pt;
		margin-top: 0%;
		width: 16%;
		padding: 2.5% 0;
	}.btn:hover{
		transform: scale(0.98);
		transition: 0.5s;
		color: white;
	}
	
	hr{height: 20px;}
}
